.page {
  width:
  height:
  color: #dbd7d2;
}

#article_title {
  font-family: "Anton", "500";
  line-height: 150%;
  letter-spacing: 10px;
  font-size: 50px;
  color: #3c1414;
}

#intro {
  font-family: "Oswald", "500";
  line-height: 200%;
  letter-spacing: 2px;
  font-size: 38px;
  color: #922b3e;
}

.question{
  font-family: "raleway", "500";
  font-size: 32px;
  font-weight: 900;
  color: #54626f;
}

.answer{
  font-family: "raleway", "500";
  font-size: 32px;
  font-weight: 550;
}

#block_quote {
  font-family: "Oswald", "500";
  font-size: 38px;
  color: #922b3e;
  text-align: center;
}
